# Игнорируем директорию виртуального окружения
venv/

# Игнорируем файлы PyCharm
.idea/
*.iml

# Игнорируем кэшированные файлы от IntelliJ
/.idea/*
/.idea/**

# Игнорируем результаты сборки
/build/
/dist/

# Игнорируем прочие временные файлы
*.pyc
pycache/

# Игнорируем лог-файлы
*.log

# Игнорируем данные базы данных SQLite
*.sqlite3

# Игнорируем другие возможные файлы среды разработки
.DS_Store
.env
pipfile.lock
.pypirc